*.la
*.lo
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
Makefile
Makefile.in
missing
src/.deps
src/.libs
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
liblthread.a

